.h5p-balancingactsimulation-editor .field-name-source{
    display:none;
}
button.h5p-question-finish {
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0.5em 1em;
    padding: 0.5em 1.25em;
    border-radius: 2em;
    background: #1a73d9;
    color: #ffffff;
    cursor: pointer;
    border: none;
    box-shadow: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: inline-block;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    vertical-align: baseline;
}